---
layout: default
---
<!-- Just some nice to have styles for the pager buttons -->
<style>
  ul.pager { text-align: center; list-style: none; }
  ul.pager li {display: inline;border: 1px solid black; padding: 4px; margin: 2px;}
  .selected{ background-color: white; }
</style>

<div class="home">

  <h1 class="page-heading">Vulnerabilities</h1>

  {{ content }}

  <!--
    Showing buttons to move to the next and to the previous list of posts (pager buttons).
  -->
  {% if paginator.total_pages > 1 %}
  <ul class="pager">

      {% if paginator.previous_page %}
      <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Previous </a>
      </li>
      {% endif %}

      {% for trail in (1..paginator.total_pages) %}
         {% if trail == paginator.page %}
          <li class="selected" > {{ trail }} </li>
         {% elsif trail == 1 %}
           <a href="{{site.baseurl}}" >  1 </a>
         {% else %}
           <a href="{{ site.url | append: site.baseurl  | append: '/' | append: trail }}" >  {{ trail }} </a>
         {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
      <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"> Next &rarr;</a>
      </li>
      {% endif %}

  </ul>
  {% endif %}
</div>